<div class="register-container">
  <div class="register-card">
    <h2>Create an Account</h2>
    <input type="fullname" placeholder="Name" class="input-field" />

    <input type="email" placeholder="Email address" class="input-field" />
    <input type="password" placeholder="Password" class="input-field" />
    <input type="password" placeholder="Confirm Password" class="input-field" />
    <input type="tel" placeholder="Phone number" class="input-field" />

    <button class="primary-btn">Register</button>

    <p class="signin-text">
      Already have an account? <a routerLink="/login">Sign in</a>
    </p>
  </div>
</div>
